body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

header menu {
    color: #bb86fc;
}

.menu {
    background-color: #1f1f1f;
    padding: 10px 0;
    text-align: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    color: #bb86fc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ffffff;
}



section {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h2 {
    color: #bb86fc;
}

.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.links-rapidos a {
    color: #bb86fc;
    margin: 0 10px;
    text-decoration: none;
}

.sobre-mim {
    background-color: #1e1e1e;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.sobre-mim h2 {
    color: #bb86fc;
    font-size: 2em;
    margin-bottom: 20px;
}

.sobre-mim p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    font-size: 1.1em;
    line-height: 1.6;
    color: #ccc;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.contato {
    background-color: #1e1e1e;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.contato h2 {
    color: #bb86fc;
    font-size: 2em;
    margin-bottom: 20px;
}

.contato form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contato label {
    display: block;
    margin-bottom: 5px;
    color: #bb86fc;
}

.contato input,
.contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.contato button {
    background-color: #bb86fc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contato button:hover {
    background-color: white;
    color: #121212;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.1);
}


.projetos {
    background-color: #121212;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.projetos h2 {
    color: #bb86fc;
    font-size: 2em;
    margin-bottom: 40px;
}

.projetos .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.projetos .card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 300px;
    text-align: left;
}

.projetos .card img {
    width: 100%;
    height: auto;
}

.projetos .card h3 {
    color: #bb86fc;
    font-size: 1.5em;
    margin: 15px;
}

.projetos .card p {
    color: #ccc;
    font-size: 1em;
    margin: 15px;
}

.projetos .card a {
    display: block;
    background-color: #bb86fc;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: background 0.3s;
    border-radius: 0 0 10px 10px;
}

.projetos .card a:hover {
    background-color: white;
    color: #121212;
}

.projetos .card:hover {
    transform: translateY(-10px);
}

/* Responsividade */
@media (max-width: 768px) {
    .projetos .container {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}

