body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f1f1f;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* garante que fique na frente do banner */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

header menu {
    color: #bb86fc;

}

.menu {
    background-color: #1f1f1f;
    padding: 10px 0;
    text-align: center;


}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    color: #bb86fc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover,
.menu a:focus {
    color: #ffffff;
    outline: none;
}

section {
    padding: 20px;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/gb-image.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.hero-content {
    animation: fadeIn 1s ease-in-out;
}

.hero h2 {
    color: #bb86fc;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.links-rapidos a {
    color: #bb86fc;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.links-rapidos a:hover {
    color: #ffffff;
}

.cta-button {
    display: inline-block;
    background-color: #bb86fc;
    color: #121212;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #ffffff;
    color: #121212;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.links-rapidos a {
    color: #bb86fc;
    margin: 0 10px;
    text-decoration: none;
}

.sobre-mim {
    background-color: #1e1e1e;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.sobre-mim h2 {
    color: #bb86fc;
    font-size: 2em;
    margin-bottom: 20px;
}

.sobre-mim-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.sobre-mim-text {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    text-align: left;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
}

.sobre-mim p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ccc;
    margin-bottom: 20px;
}

.sobre-mim-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.icon {
    text-align: center;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}

.icon i {
    font-size: 43px;
    margin-bottom: 10px;
}

.icon p {
    color: #bb86fc;
    font-size: 1em;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .sobre-mim-content {
        flex-direction: column;
    }
}


.formacao {
    background-color: #1e1e1e;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.formacao h2 {
    color: #bb86fc;
    font-size: 2em;
    margin-bottom: 40px;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #bb86fc;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 20px 30px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #bb86fc;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 42.5%;
}

.timeline-item .timeline-icon {
    position: absolute;
    top: 15px;
    left: -60px;
    width: 50px;
    height: 50px;
    background-color: #bb86fc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-item .timeline-icon img {
    width: 30px;
    height: 30px;
}

.timeline-item .timeline-content {
    padding: 20px 30px;
    background-color: #333;
    position: relative;
    border-radius: 6px;
}

.timeline-item .timeline-content h3 {
    color: #bb86fc;
    margin-top: 0;
}

@media (max-width: 768px) {
    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        left: 0;
    }

    .timeline-item::after {
        left: 60px;
    }

    .timeline::after {
        left: 60px;
    }

    .timeline-item .timeline-icon {
        left: 10px;
    }
}




.experiencia {
    background-color: #121212;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.experiencia h2 {
    color: #bb86fc;
    font-size: 2em;
    margin-bottom: 40px;
}

.exp-card {
    display: flex;
    align-items: flex-start;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.exp-card:hover {
    transform: translateY(-5px);
}

.exp-icon {
    flex-shrink: 0;
    margin-right: 20px;
}

.exp-icon img {
    width: 50px;
    height: 50px;
}

.exp-content h3 {
    color: #bb86fc;
    margin-top: 0;
}

.exp-content p {
    color: #ccc;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .exp-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .exp-icon {
        margin-bottom: 15px;
    }
}


.contato {
    background-color: #1e1e1e;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.contato h2 {
    color: #bb86fc;
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 30px;
}

.form-group label{
    padding-bottom: 2rem;
}

.input-icon {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
}

.input-icon img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input-icon input,
.input-icon textarea {
    width: 100%;
    border: none;
    background: none;
    color: white;
    padding: 10px;
    outline: none;
}

.contato button {
    /*background-color: #bb86fc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 50px;
    margin-bottom: 20px;*/
    display: inline-block;
    background-color: #bb86fc;
    color: #ffffff;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.contato button:hover {
    background-color: white;
    color: #121212;
}


.form-feedback {
    margin-top: 20px;
    color: #bb86fc;
    font-size: 1.2em;
}

.social-links {
    margin-top: 20px;
    font-size: 37px;
}

.social-links a {
    margin: 0 10px;
    display: inline-block;
    color: #bb86fc;

}

.social-links i {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-links i:hover {
    transform: scale(1.1);
}



@media (max-width: 768px) {
    .input-icon {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-icon i {
        margin-bottom: 10px;
    }
}


.social-links {
    margin-top: 20px;

}

.social-links a {
    margin: 0 10px;
    display: inline-block;
}

.social-links i {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-links i:hover {
    transform: scale(1.1);
}

.projetos {
    background-color: #121212;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.projetos h2 {
    color: #bb86fc;
    font-size: 2em;
    margin-bottom: 40px;
}

.projetos .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.projetos .card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 300px;
    text-align: left;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
}

.projetos .card img {
    width: 100%;
    height: auto;
}

.projetos .card h3 {
    color: #bb86fc;
    font-size: 1.5em;
    margin: 15px;
}

.projetos .card p {
    color: #ccc;
    font-size: 1em;
    margin: 15px;
}

.projetos .tags {
    margin: 15px;
}

.tag {
    display: inline-block;
    background-color: #bb86fc;
    color: #121212;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-right: 5px;
}

.projetos .card a {
    display: block;
    background-color: #bb86fc;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
    border-radius: 0 0 10px 10px;
}

.projetos .card a:hover {
    background-color: white;
    color: #121212;
}

.projetos .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}



@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .projetos .container {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 768px) {
    .menu li {
        display: block;
        margin: 10px 0;
    }

    .hero {
        height: auto;
        padding: 30px 10px;
    }

    .hero img {
        width: 100px;
        height: 100px;
    }

    .projetos .container {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
}